body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 1rem;
    max-width: 120ch;
    background-color: #f2f2f2;
}

header {
    border-bottom: 2px solid black;
}

header a {
    text-decoration: none;
    color: inherit;
}

h2 {
    text-align: center;
}

main, img {
    margin: 0 auto;
    max-width: 80ch;
    line-height: 1.4;
    text-align: justify;
    hyphens: auto;
}

main p {
    margin-bottom: 1rem;
}

img {
    max-width: 36%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.chat {
    border: 2px solid #aaa;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.correct {
    background-color: #d0f0d0;
}

.incorrect {
    background-color: #f0d8d0;
}
