body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 1rem;
    max-width: 120ch;
    background-color: #f2f2f2;
}

header {
    border-bottom: 2px solid black;
}

header a {
    text-decoration: none;
    color: inherit;
}

h2 {
    text-align: center;
}

main {
    margin: 0 auto;
    max-width: 80ch;
    line-height: 1.4;
    text-align: justify;
    hyphens: auto;
}

main p {
    margin-bottom: 1rem;
}
